$colorActive: #2196f3;

.rich-text-editor {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 2px;
	background: #f4f4f4;

	.rich-text-toolbar {
		margin-bottom: 10px;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		display: flex;
	}

	.rich-text-toolbar-button {
		position: relative;
		font-size: 12px;
		font-weight: 600;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		border: 0;
		background: #fff;
		color: #444;
		cursor: pointer;
		margin-left: 5px;
		outline: none;
		border-radius: 2px;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
		pointer-events: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		svg {
			display: inline-block;
			padding: 5px 8px;
		}

		& > span {
			padding: 2px 6px;
			display: inline-flex;
		}

		&:first-child {
			margin-left: 0;
		}
	}

	.DraftEditor-root {
		.DraftEditor-editorContainer .public-DraftEditor-content {
			min-height: 100px;
		}
	}

	&.active {
		border: 1px solid $colorActive;
		background: #fff;

		.DraftEditor-root {
			.DraftEditor-editorContainer .public-DraftEditor-content {
				min-height: 200px;
			}
		}

		.rich-text-toolbar-button {
			background: #eee;
			pointer-events: all;

			&:hover {
				background: $colorActive;
				color: #fff;

				svg {
					fill: #fff;
				}
			}

			&:active {
				box-shadow: none;
			}

			&.active {
				box-shadow: none;
				background: #222;
				color: #fff;

				svg {
					fill: #fff;
				}
			}
		}
	}

	&.empty {
		.DraftEditor-root .public-DraftEditorPlaceholder-root {
			position: relative;
		}
		.DraftEditor-root
			.public-DraftEditorPlaceholder-root
			.public-DraftEditorPlaceholder-inner {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			color: #ccc;
		}
	}

	.rich-text-color-picker-button.active {
		background: $colorActive;
		color: #fff;
	}
	.rich-text-color-picker {
		position: absolute;
		top: 105%;
		right: 0;
		width: 110px;
		padding: 10px;
		border-radius: 2px;
		background: #fff;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
		color: #444;
		text-align: center;

		a.button-color {
			display: inline-block;
			width: 15px;
			height: 15px;
			margin: 3px;
			cursor: pointer;
			box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
		}
		a.button-color:hover {
			opacity: 0.6;
		}
		a.button-color.active {
			opacity: 0.8;
		}
	}
}
